{% extends 'base.html' %}
{% load static %}

{%block content%}
  <body>
    <section class="product">
      <div class="container">
        <div class="product__content">
          <div class="product-left">
            <h1> О НАС</h1>
          </div>
          <div class="product-right">
            <div class="about-company-all">
              <div class="crumb"><a href="{% url 'home-url' %}">Главная</a>
              <div class="crumb">  <a href="{% url 'product-url' %}">Продукция</a>
              </div>
              <h2 class="h2"><a href="#">Производитель колбасных изделий халяль №1 в Кыргызстане</a></h2>
              <div class="about-company__content">
                <div class="about-company">
                  <p> Торговая марка “Тойбосс” начала свою деятельность в 2009 году с производства сэндвичей,
                    а в 2012 году запустила производство колбасных изделий.
                    За этот короткий срок компания зарекомендовала себя на рынке Кыргызстана как надежный производитель качественной,
                    натуральной, а самое главное  вкусной мясной продукции.</p>
                  <h2>НАША ИСТОРИЯ</h2>
                  <p>История компании началась с Бектурсуна и Мырзабека Орумбаевых, двух братьев из города Каракол,
                    которые приехали в Астану на учебу и заработки. Их предпринимательская деятельность началась в 2005 году,
                    когда они заметили отсутствие готовых сэндвичей в магазинах города.
                    Увидев возможность, они решили ей воспользоваться, начав бизнес с лишь 300 долларов.
                    Закупив упаковочную машинку и небольшое количество продуктов, братья начали делать сэндвичи на кухне своей съемной квартиры.
                    Без особых кулинарных навыков, но с желанием расти, они начали продавать свою продукцию на местном рынке.
                    Спрос на сэндвичи постепенно увеличивался.</p>
                  <h2>Миссия</h2>
                  <p>Coздавать лучшие продукты для лучшего мира.
                     Мы нацелены на производство лучших продуктов благодаря обеспечению превосходного вкуса и высочайших стандартов качества и безопасности продукции.
                    При этом, мы придаем огромное значение тому,
                    чтобы наша деятельность делала окружающий наш мир лучше и приносила пользу нашему обществу.
                  </p>
                  <img src="{% static 'img/png/img.png' %}"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
{% endblock %}

